<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Clanske karte</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>   
	 	<ul>     
	 		<li><a href="knjige">Knjige</a></li>     
	 		<li><a href="clanskeKarte">Clanske karte</a></li>     
	 		<li><a href="korisnici">Korisnici</a></li>     
	 	</ul>     
	 		<table>     
	 			<caption>Clanske karte</caption>     
	 			<tr>     
	 				<th>R. br.</th> 
	 				<th>Registarski broj</th>     
	 				<th>Vlasnik</th>  
	 				<th></th>    
	 			</tr>
	 			<tr th:each="itClanskaKarta, status: ${clanskeKarte}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>
	 				<td th:text="${itClanskaKarta.registarskiBroj}"></td>    
	 				<td th:text="${itClanskaKarta.korisnik}"></td>  
	 				<td>
	 					<a th:href="|clanskeKarte/details?registarskiBroj=${itClanskaKarta.registarskiBroj}|">Vidi detalje</a> 
	 				</td>   
	 			</tr>
	 		</table>
	 	<ul>
			<li><a href="clanskeKarte/add">Dodaj novu clansku kartu</a></li>
		</ul>
	 </body>   
 </html>	