<!DOCTYPE html>    
 <html>    
 <head>    
 	<meta charset="UTF-8">    
 	<base href="bURL">    
 	<title>Dodaj lek</title>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>  
 </head>    
 <body>    
 	<ul>    
 		<li><a href="lekovi">Lekovi</a></li>    
 		  
 	</ul>    
 	<form method="post" action="add">    
 		<table>    
 			<caption>Lek</caption>    
 			<tr><th>Naziv:</th><td><input type="text"  name="naziv"/></td></tr>
			<tr><th>Sifra:</th><td><input type="text"  name="sifra"/></td></tr>
			<tr><th>Opis:</th><td><input type="text" name="opis"/></td></tr>
			<tr><th>Kontraindikacije:</th><td><input type="text"  name="kontraindikacije"/></td></tr>
			<tr><th>Oblik:</th><td><input type="text" name="oblik"/></td></tr>
			<tr><th>Prosek ocena:</th><td><input type="text" name="prosekOcena"/></td></tr>
			<tr><th>Slika:</th><td><input type="text" name="slika"/></td></tr>
			<tr><th>Dostupna kolicina:</th><td><input type="text" name="dostupnaKolicina"/></td></tr>
			<tr><th>Cena:</th><td><input type="text" name="cena"/></td></tr>
			<tr><th>Proizvodjac:</th><td><input type="text" name="proizvodjac"/></td></tr>
			<tr><th>Kategorija leka:</th><td><input type="text" name="kategorijaLekova"/></td></tr>
			  
 			<tr><th></th><td><input type="submit" value="Dodaj"/></td>    
 		</table>    
 	</form>   
 	<br/>  
 </body>  
 </html>  		