<!DOCTYPE html>    
 <html>    
 <head>    
 	<meta charset="UTF-8">    
 	<base href="bURL">    
 	<title>Dodaj knjigu</title>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>  
 </head>    
 <body>    
 	<ul>    
 		<li><a href="knjige">Knjige</a></li>    
 		<li><a href="clanskeKarte">Clanske karte</a></li>    
 		<li><a href="korisnici">Korisnici</a></li>    
 	</ul>    
 	<form method="post" action="add">    
 		<table>    
 			<caption>Knjiga</caption>    
 			<tr><th>Naziv:</th><td><input type="text" value="" name="naziv"/></td></tr>    
 			<tr><th>Registarski broj primerka:</th><td><input type="text" value="" name="registarskiBrojPrimerka"/></td></tr>   
 			<tr><th>Jezik:</th><td><input type="text" value="" name="jezik" /></td></tr>   
 			<tr><th>Broj stranica:</th><td><input type="number" min="1" name="brojStranica"/></td></tr>    
 			<tr><th>Datum objavljivanja:</th><td><input type="date" name="datum"/></td></tr>
 			<tr><th></th><td><input type="submit" value="Dodaj"/></td>    
 		</table>    
 	</form>   
 	<br/>  
 </body>  
 </html>  		