<!DOCTYPE html>    
 <html>    
 <head>    
 	<meta charset="UTF-8">    
 	<base href="bURL">    
 	<title>Dodaj kategoriju lekova</title>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>  
 </head>    
 <body>    
 	<ul>    
 		<li><a href="kategorijeLekova">Kategorije Lekova</a></li>    
 		  
 	</ul>    
 	<form method="post" action="add">    
 		<table>    
 			<caption>Kategorija Lekova</caption>    
 			<tr><th>Naziv:</th><td><input type="text" value="" name="naziv"/></td></tr>    
 			<tr><th>Namena:</th><td><input type="text" value="" name="namena"/></td></tr>   
 			<tr><th>Opis:</th><td><input type="text" value="" name="opis" /></td></tr>   
 			<tr><th></th><td><input type="submit" value="Dodaj"/></td>    
 		</table>    
 	</form>   
 	<br/>  
 </body>  
 </html>  		