<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Kategorije Lekova</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>   
	 	<ul>     
	 		<li><a href="kategorijeLekova">Kategorije Lekova</a></li>     
	 		  
	 	</ul>     
	 		<table>     
	 			<caption>Kategorije Lekova</caption>     
	 			<tr>     
	 				<th>R. br.</th>     
	 				<th></th>     
	 				<th>Naziv</th>     
	 				<th>Namena</th>     
	 				<th>Opis</th>    
	 				
	 				<th></th>    
	 			</tr>
	 			<tr th:each="itKategorijaLekova, status: ${kategorijeLekova}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a th:href="|kategorijeLekova/details?id=${itKategorijaLekova.id}|" th:text="${itKategorijaLekova.naziv}"></a></td>    
	 				<td th:text="${itKategorijaLekova.naziv}"></td>    
	 				<td th:text="${itKategorijaLekova.namena}"></td>    
	 				<td th:text="${itKategorijaLekova.opis}"></td>    
	 				<td>    
	 					<form method="post" action="kategorijeLekova/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itKategorijaLekova.id}">     
	 						<input type="submit"  value="Obriši" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 	<ul>     
	 		<li><a href="kategorijeLekova/add">Dodaj kategoriju lekova</a></li>     
	 	</ul>
	 </body>   
 </html>	