<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Knjiga</title>
</head>
<body>
	<ul>    
 		<li><a href="knjige">Knjige</a></li>    
 		<li><a href="clanskeKarte">Clanske karte</a></li>    
 		<li><a href="korisnici">Korisnici</a></li>    
 	</ul>  
	<form method="post" action="knjige/edit">
		<input type="hidden" name="id" th:value="${knjiga.id}"/><!-- popuni value atribut vrednošću -->
		<table class="forma">
			<caption>Knjiga</caption>
			<tr><th>Naziv:</th><td><input type="text" th:value="${knjiga.naziv}" name="naziv"/></td></tr>
			<tr><th>Registarski broj primerka:</th><td><input type="text" th:value="${knjiga.registarskiBrojPrimerka}" name="registarskiBrojPrimerka"/></td></tr>
			<tr><th>Jezik:</th><td><input type="text" th:value="${knjiga.jezik}" name="jezik"/></td></tr>
			<tr><th>Broj stranica:</th><td><input type="number" th:value="${knjiga.brojStranica}" name="brojStranica"/></td></tr>
			<tr><th>Datum objavljivanja:</th><td><input type="date" th:value="${#temporals.format(knjiga.datum, 'yyyy-MM-dd')}" name="datum"/></td></tr>
			<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
		</table>
	</form>
	<form method="post" action="knjige/delete">
		<input type="hidden" name="id" th:value="${knjiga.id}"/>
		<table class="forma">
			<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
		</table>
	</form>
	<form method="post" action="knjige/zeljene/dodaj" th:if="${not knjiga.izdata}">
		<input type="hidden" name="idKnjige" th:value="${knjiga.id}">
		<table>
			<caption>Dodaj u zeljene knjige</caption>	
			<tr><th></th><td><input type="submit" value="Dodaj"></td> 
		</table> 
	</form>
</body>
</html>