<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Korisnici</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>   
	 	<ul>     
	 		<li><a href="knjige">Knjige</a></li>     
	 		<li><a href="clanskeKarte">Clanske karte</a></li>     
	 		<li><a href="korisnici">Korisnici</a></li>     
	 	</ul>     
	 		<table>     
	 			<caption>Korisnici</caption>     
	 			<tr>      
	 				<th>Ime</th>     
	 				<th>Prezime</th>     
	 				<th>Email</th>   
	 				<th></th>    
	 			</tr>
	 			<tr th:each="itKorisnik, status: ${korisnici}">  
	 				<td th:text="${itKorisnik.ime}"></td>    
	 				<td th:text="${itKorisnik.prezime}"></td>    
	 				<td th:text="${itKorisnik.email}"></td>   
	 				<td>    
	 					<form method="post" action="korisnici/obrisi" >     
	 						<input type="hidden"  name="id"  th:value="${itKorisnik.id}">     
	 						<input type="submit"  value="Obriši" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 </body>   
 </html>	