<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Korisnici</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>   
	 	<ul>      
	 		<li><a href="kategorijeLekova"  th:text="#{kategorije_lekova}"></a></li> 
	 		<li><a href="lekovi"  th:text="#{lekovi}"></a></li>   
	 		<li><a href="proizvodjaci"  th:text="#{proizvodjaci}"></a></li>
	 		<li><a href="korisnici"  th:text="#{korisnici}"></a></li>
	 		<li><a href="korisnici/logout"  th:text="#{odjava}"></a></li>
	 	</ul>     
	 		<table>     
	 			<caption th:text="#{korisnici}"></caption>
	 		<tr>
	 			<th th:text="#{broj}"></th>     
	 			<th></th>     
	 			<th th:text="#{korisnicko_ime}"></th>     
	 			<th th:text="#{lozinka}"></th>     
	 			<th>Email</th>    
	 			<th th:text="#{naziv}"></th> 
	 			<th th:text="#{prezime}"></th> 
	 			<th th:text="#{datum_rodjenja}"></th> 
	 			<th th:text="#{adresa}"></th> 
	 			<th th:text="#{broj_telefona}"></th>
	 			<th th:text="#{uloga}"></th> 
	 			<th></th>
	 		</tr>
	 		<tr th:each="itKorisnik, status: ${korisnici}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a th:href="|korisnici/details?id=${itKorisnik.id}|" th:text="${itKorisnik.korisnickoIme}"></a></td>    
	 				<td th:text="${itKorisnik.korisnickoIme}"></td>    
	 				<td th:text="${itKorisnik.lozinka}"></td>    
	 				<td th:text="${itKorisnik.email}"></td>   
	 				<td th:text="${itKorisnik.ime}"></td> 
	 				<td th:text="${itKorisnik.prezime}"></td>
	 				<td th:text="${itKorisnik.datumRodjenja}"></td>
	 				<td th:text="${itKorisnik.adresa}"></td>
	 				<td th:text="${itKorisnik.brojTelefona}"></td>
<!-- 	 				<td th:data="${itKorisnik.datumIVremeneRegistracije}"></td> -->
	 				<td th:text="${itKorisnik.uloga.naziv}"></td>
	 				<td>    
	 					<form method="post" action="korisnici/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itKorisnik.id}">     
	 						<input type="submit"  th:value="#{obrisi}"  >    
	 					</form>    
	 				</td>   
	 			 
	 				
	 			</tr>
	 		</table>
	 </body>   
 </html>	