<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Lek</title>
</head>
<body>
	<ul> 
	 	<li><a th:href="|korisnici/details?id=${session.korisnik.id}|" th:text="${session.korisnik.email}"></a> O meni</li>
   
	 	<li><a href="lekovi"  th:text="#{lekovi}"></a></li>   
 		<li><a href="korisnici/logout"  th:text="#{odjava}"></a></li>
 		
 		  
 	</ul>  
	<form method="post" action="lekovi/edit">
		<input type="hidden" name="id" th:value="${lek.id}"/><!-- popuni value atribut vrednošću -->
		<table class="forma">
			<caption th:text="#{lek}"></caption>
			<tr><th th:text="#{naziv}"></th><td><input type="text" th:value="${lek.naziv}" name="naziv"/></td></tr>
			<tr><th th:text="#{lozinka}"></th><td><input type="text" th:value="${lek.sifra}" name="sifra"/></td></tr>
			<tr><th th:text="#{opis}"></th><td><input type="text" th:value="${lek.opis}" name="opis"/></td></tr>
			<tr><th th:text="#{kontraindikacije}"></th><td><input type="text" th:value="${lek.kontraindikacije}" name="kontraindikacije"/></td></tr>
			<tr><th th:text="#{oblik}"></th>
				<td>
					<select name="oblikId">
    					<option th:each="item : ${oblici}"
    						 th:value="${item.id}" 
    						 th:selected="*{item.id == lek.oblik.id}"
    						 th:text="${item.naziv}">
    					</option>
					</select>
				</td></tr>
			<tr><th th:text="#{prosek_ocena}"></th><td><input type="text" th:value="${lek.prosekOcena}" name="prosekOcena"/></td></tr>
			<tr><th th:text="#{slika}"></th><td><input type="text" th:value="${lek.slika}" name="slika"/></td></tr>
			<tr><th th:text="#{dostupna_kolicina}"></th><td><input type="text" th:value="${lek.dostupnaKolicina}" name="dostupnaKolicina"/></td></tr>
			<tr><th th:text="#{cena}"></th><td><input type="text" th:value="${lek.cena}" name="cena"/></td></tr>
			<tr><th th:text="#{proizvodjac}"></th>
				<td>
					<select name="proizvodjacId">
    					<option th:each="item : ${proizvodjaci}"
    						 th:value="${item.id}" 
    						 th:selected="*{item.id == lek.proizvodjac.id}"
    						 th:text="${item.naziv}">
    					</option>
					</select>
				</td></tr>
			<tr><th th:text="#{kategorija_leka}"></th>
				<td>
					<select name="kategorijaLekovaId">
    					<option th:each="item : ${kategorijeLekova}"
    						 th:value="${item.id}" 
    						 th:selected="*{item.id == lek.kategorijaLekova.id}"
    						 th:text="${item.naziv}">
    					</option>
					</select>
				</td></tr>
			
			<tr th:if="${session.korisnik != null && session.korisnik.uloga.naziv =='ADMINISTRATOR'}"><th></th><td><input type="submit" th:value="#{izmeni}"/></td></tr>
		</table>
	</form>
	<form method="post" action="lekovi/delete" th:if="${session.korisnik != null && session.korisnik.uloga.naziv =='ADMINISTRATOR'}">
		<input type="hidden" name="id" th:value="${lek.id}"/>
		<table class="forma">
			<tr><th></th><td><input type="submit" th:value="#{obrisi}" /></td></tr>
		</table>
	</form>
	
</body>
</html>