<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Lekovi</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
		</script>
	 </head>     
	 <body>   
	 	<script type="text/javascript">
		$(document).ready(function() {
		    $("#locales").change(function () {
		        var selectedOption = $('#locales').val();
		        if (selectedOption != ''){
		            window.location.replace('international?lang=' + selectedOption);
		        }
		    });
		});
		</script>
<!-- 	 	<table th:unless="${session.korisnik==null"> -->
<!-- 	 		<tr><th>Prijavljeni ste kao</th><td><a -->
<!-- 	 	</table> -->
	 	<ul>     
	 		<li><a th:href="|korisnici/details?id=${session.korisnik.id}|" th:text="${session.korisnik.email}"></a> O meni</li>
	 		<li><a href="kategorijeLekova"  th:text="#{kategorije_lekova}"></a></li> 
	 		<li><a href="lekovi"  th:text="#{lekovi}"></a></li>   
	 		<li><a href="proizvodjaci"  th:text="#{proizvodjaci}"></a></li>
	 		<li th:if="${session.korisnik != null && session.korisnik.uloga.naziv =='ADMINISTRATOR'}"><a href="korisnici"  th:text="#{korisnici}"></a></li>
	 		
	 		<li><a href="korisnici/logout"  th:text="#{odjava}"></a></li>
 		  
	 		  
	 	</ul>  
<!-- 	 	<form method="get"> -->
<!-- <!-- 			<table class="tabela"> --> -->
<!-- 			<table> -->
<!-- 				<caption>Lekovi</caption> -->
<!-- 				<tr> -->
<!-- 					<th>r. br.</th> -->
<!-- 					<th>naziv</th> -->
<!-- 					<th>žanr</th> -->
<!-- 					<th>trajanje</th> -->
<!-- 					<th></th> -->
<!-- 				</tr> -->
<!-- 				<tr> -->
				
			<form method="get" action="lekovi">
				<table>
					<tr>
						<th th:text="#{naziv}">:</th>
						<th th:text="#{kontraindikacije}"></th>
					</tr>
					<tr>
						<td><input type="text"  name="naziv"/></td></tr>
						<td><input type="text"  name="kontraindikacije"/></td></tr>
					</tr>
					<tr><th></th><td><input type="submit" th:value="#{pretrazi}"/></td> 
				</table>
			</form>
				
	 	<form action="lekovi" method="get">
	 		<span th:text="#{lang.change}"></span>:
			<select id="locales">
			    <option value=""></option>
			    <option value="en" th:text="#{lang.eng}"></option>
			    <option value="sr" th:text="#{lang.sr}"></option>
			</select>
			<button th:value="#{prevedi}"></button>
	 	</form>
	 	
	 		<table>     
	 			<caption th:text="#{lekovi}"></caption>     
	 			<tr>     
	 				<th th:text="#{broj}"></th>     
	 				<th></th>     
	 				<th th:text="#{naziv}"></th>     
	 				<th th:text="#{lozinka}"></th>     
	 				<th th:text="#{opis}"></th>    
	 				<th th:text="#{kontraindikacije}"></th> 
	 				<th th:text="#{oblik}"></th> 
	 				<th th:text="#{prosek_ocena}"></th> 
	 				<th th:text="#{slika}"></th> 
	 				<th th:text="#{dostupna_kolicina}"></th>
	 				<th th:text="#{cena}"></th> 
	 				<th th:text="#{proizvodjac}"></th> 
	 				<th th:text="#{kategorija_leka}"></th> 
	 				
	 				<th></th>    
	 			</tr>
	 			<tr th:each="itLek, status: ${lekovi}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a th:href="|lekovi/details?id=${itLek.id}|" th:text="${itLek.naziv}"></a></td>    
	 				<td th:text="${itLek.naziv}"></td>    
	 				<td th:text="${itLek.sifra}"></td>    
	 				<td th:text="${itLek.opis}"></td>   
	 				<td th:text="${itLek.kontraindikacije}"></td> 
	 				<td th:text="${itLek.oblik.naziv}"></td>
	 				<td th:text="${itLek.prosekOcena}"></td>
	 				<td th:text="${itLek.slika}"></td>
	 				<td th:text="${itLek.dostupnaKolicina}"></td>
	 				<td th:text="${itLek.cena}"></td>
	 				<td th:text="${itLek.proizvodjac.naziv}"></td>
	 				<td th:text="${itLek.kategorijaLekova.naziv}"></td>
	 				<td>    
	 					<form method="post" action="lekovi/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itLek.id}">     
	 						<input type="submit"  th:value="#{obrisi}"  >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 	<ul>     
	 		<li><a href="lekovi/add" th:text="#{dodaj_lek}"></a></li>     
	 	</ul>
	 	
	 </body>   
 </html>	