<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Lekovi</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>   
	 	<ul>     
	 		<li><a href="kategorijeLekova">KategorijeLekova</a></li> 
	 		<li><a href="lekovi">Lekovi</a></li>   
	 		<li><a href="proizvodjaci">Proizvodjaci</a></li>
 		  
	 		  
	 	</ul>     
	 		<table>     
	 			<caption>Lekovi</caption>     
	 			<tr>     
	 				<th>R. br.</th>     
	 				<th></th>     
	 				<th>Naziv</th>     
	 				<th>Sifra</th>     
	 				<th>Opis</th>    
	 				<th>Kontraindikacije</th> 
	 				<th>Oblik</th> 
	 				<th>Prosek ocena</th> 
	 				<th>Slika</th> 
	 				<th>Dostupna kolicina</th>
	 				<th>Cena</th> 
	 				<th>Proizvodjac</th> 
	 				<th>Kategorija Leka</th> 
	 				
	 				<th></th>    
	 			</tr>
	 			<tr th:each="itLek, status: ${lekovi}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a th:href="|lekovi/details?id=${itLek.id}|" th:text="${itLek.naziv}"></a></td>    
	 				<td th:text="${itLek.naziv}"></td>    
	 				<td th:text="${itLek.sifra}"></td>    
	 				<td th:text="${itLek.opis}"></td>   
	 				<td th:text="${itLek.kontraindikacije}"></td> 
	 				<td th:text="${itLek.oblik}"></td>
	 				<td th:text="${itLek.prosekOcena}"></td>
	 				<td th:text="${itLek.slika}"></td>
	 				<td th:text="${itLek.dostupnaKolicina}"></td>
	 				<td th:text="${itLek.cena}"></td>
	 				<td th:text="${itLek.proizvodjac}"></td>
	 				<td th:text="${itLek.kategorijaLekova}"></td>
	 				<td>    
	 					<form method="post" action="lekovi/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itLek.id}">     
	 						<input type="submit"  value="Obriši" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 	<ul>     
	 		<li><a href="lekovi/add">Dodaj lek</a></li>     
	 	</ul>
	 </body>   
 </html>	