<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Lekovi</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
		</script>
	 </head>     
	 <body>   
	 	<script type="text/javascript">
		$(document).ready(function() {
		    $("#locales").change(function () {
		        var selectedOption = $('#locales').val();
		        if (selectedOption != ''){
		        	
		            window.location.replace(window.location.pathname+'?lang=' + selectedOption);
		        }
		    });
		});
		</script>
<!-- 	 	<table th:unless="${session.korisnik==null"> -->
<!-- 	 		<tr><th>Prijavljeni ste kao</th><td><a -->
<!-- 	 	</table> -->
	 	<ul>     
	 		<li><a th:href="|korisnici/details?id=${session.korisnik.id}|" th:text="${session.korisnik.email}"></a> O meni</li>
	 		<li th:if="${session.korisnik != null && session.korisnik.uloga.naziv =='ADMINISTRATOR'}"><a href="kategorijeLekova"  th:text="#{kategorije_lekova}"></a></li> 
	 		<li><a href="lekovi"  th:text="#{lekovi}"></a></li>   
	 		<li th:if="${session.korisnik != null && session.korisnik.uloga.naziv =='ADMINISTRATOR'}"><a href="proizvodjaci"  th:text="#{proizvodjaci}"></a></li>
	 		<li th:if="${session.korisnik != null && session.korisnik.uloga.naziv =='ADMINISTRATOR'}"><a href="korisnici"  th:text="#{korisnici}"></a></li>
	 		<li><a href="korisnici/logout"  th:text="#{odjava}"></a></li>
 		  
	 		  
	 	</ul>  
 	
			<form method="get" action="lekovi">
				<table>
					<tr>
						<th th:text="#{naziv}">:</th>
						<th th:text="#{kontraindikacije}"></th>
						<th th:text="#{kategorije_lekova}"></th>
						<th th:text="#{proizvodjac}"></th>
						<th th:text="#{gornjaCena}"></th>
						<th th:text="#{donjaCena}"></th>
						<th th:text="#{opis}"></th>
						<th th:text="#{oblik}"></th>
						<th th:text="#{prosek_ocena}"></th>
						
					</tr>
					<tr>
						<td><input type="text"  name="naziv"/></td>
						<td><input type="text"  name="kontraindikacije"/></td>
						<td><select name="kategorijaLeka">
								<option value="" ></option>
								<option value="panadol" >panadol</option>
								
							</select></td>
						<td><select name="proizvodjac">
								<option value="" ></option>
								<option value="Mika" >Mika</option>
								<option value="Zika" >Zika</option>
							</select></td>
						
						<td><input type="text"  name="gornjaCena"/></td>
						<td><input type="text"  name="donjaCena"/></td>
						<td><input type="text"  name="opis"/></td>
						<td><select name="oblik">
								<option value="" ></option>
								<option value="TABLETA" >TABLETA</option>
								<option value="KAPSULA" >KAPSULA</option>
								<option value="SIRUP" >SIRUP</option>
								<option value="INJEKCIJA" >INJEKCIJA</option>
								
<!-- 		    					<option th:each="item : ${oblici}" -->
<!-- 		    						 th:value="${item.naziv}"  -->
<!-- 		    						 th:selected="*{item.id}==3" -->
<!-- 		    						 th:text="${item.naziv}"> -->
<!-- 		    					</option> -->
							</select></td>
						<td><input type="text"  name="prosekOcena"/></td>
						
					</tr>
					<tr><th></th><td><input type="submit" th:value="#{pretrazi}"/></td></tr> 
				</table>
			</form>
				
	 	<form action="lekovi" method="get">
	 		<span th:text="#{lang.change}"></span>:
			<select id="locales">
			    <option value=""></option>
			    <option value="en" th:text="#{lang.eng}"></option>
			    <option value="sr" th:text="#{lang.sr}"></option>
			</select>
			
	 	</form>
	 	
	 		<table>     
	 			<caption th:text="#{lekovi}"></caption>     
	 			<tr>     
	 				<th th:text="#{broj}"></th>     
	 				<th></th>     
	 				<th th:text="#{naziv}"></th>     
	 				<th th:text="#{lozinka}"></th>     
	 				<th th:text="#{opis}"></th>    
	 				<th th:text="#{kontraindikacije}"></th> 
	 				<th th:text="#{oblik}"></th> 
	 				<th th:text="#{prosek_ocena}"></th> 
	 				<th th:text="#{slika}"></th> 
	 				<th th:text="#{dostupna_kolicina}"></th>
	 				<th th:text="#{cena}"></th> 
	 				<th th:text="#{proizvodjac}"></th> 
	 				<th th:text="#{kategorija_leka}"></th> 
	 				
	 				<th></th>    
	 			</tr>
	 			<tr th:each="itLek, status: ${lekovi}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a th:href="|lekovi/details?id=${itLek.id}|" th:text="${itLek.naziv}"></a></td>    
	 				<td th:text="${itLek.naziv}"></td>    
	 				<td th:text="${itLek.sifra}"></td>    
	 				<td th:text="${itLek.opis}"></td>   
	 				<td th:text="${itLek.kontraindikacije}"></td> 
	 				<td th:text="${itLek.oblik.naziv}"></td>
	 				<td th:text="${itLek.prosekOcena}"></td>
	 				<td th:text="${itLek.slika}"></td>
	 				<td th:text="${itLek.dostupnaKolicina}"></td>
	 				<td th:text="${itLek.cena}"></td>
	 				<td th:text="${itLek.proizvodjac.naziv}"></td>
	 				<td th:text="${itLek.kategorijaLekova.naziv}"></td>
	 				<td th:if="${session.korisnik != null && session.korisnik.uloga.naziv !='KUPAC'}">    
	 					<form method="post" action="lekovi/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itLek.id}">     
	 						<input type="submit"  th:value="#{obrisi}"  >    
	 					</form>    
	 				</td>
	 				<td th:if="${session.korisnik != null && session.korisnik.uloga.naziv =='KUPAC'}">    
	 					<form method="post" action="lekovi/dodajUKorpu" >     
	 						<input type="hidden"  name="id"  th:value="${itLek.id}">     
	 						<input type="submit"  th:value="#{dodaj_u_korpu}"  >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 	<ul th:if="${session.korisnik != null && session.korisnik.uloga.naziv !='KUPAC'}">     
	 		<li><a href="lekovi/add" th:text="#{dodaj_lek}"></a></li>     
	 	</ul>
	 	
	 </body>   
 </html>	