<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Proizvodjaci</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>   
	 	<ul>     
	 		<li><a th:href="|korisnici/details?id=${session.korisnik.id}|" th:text="${session.korisnik.email}"></a> O meni</li>	 	
	 		<li><a href="kategorijeLekova"  th:text="#{kategorije_lekova}"></a></li> 
	 		<li><a href="lekovi"  th:text="#{lekovi}"></a></li>   
	 		<li><a href="proizvodjaci"  th:text="#{proizvodjaci}"></a></li>
	 		<li><a href="korisnici"  th:text="#{korisnici}"></a></li>
	 		<li><a href="korisnici/logout"  th:text="#{odjava}"></a></li>
 		  
	 		  
	 	</ul>     
	 		<table>     
	 			<caption th:text="#{proizvodjaci}" ></caption>     
	 			<tr>     
	 				<th th:text="#{broj}"></th>        
	 				<th></th>     
	 				<th  th:text="#{naziv}"></th>     
	 				<th  th:text="#{drzava}"></th>    
	 				
	 				<th></th>    
	 			</tr>
	 			<tr th:each="itProizvodjac, status: ${proizvodjaci}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a th:href="|proizvodjaci/details?id=${itProizvodjac.id}|" th:text="${itProizvodjac.naziv}"></a></td>    
	 				<td th:text="${itProizvodjac.naziv}"></td>    
	 				<td th:text="${itProizvodjac.drzava}"></td>    
	 				<td>    
	 					<form method="post" action="proizvodjaci/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itProizvodjac.id}">     
	 						<input type="submit"  th:value="#{obrisi}" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 	<ul>     
	 		<li><a href="proizvodjaci/add" th:text="#{dodaj_proizvodjaca}" ></a></li>     
	 	</ul>
	 </body>   
 </html>	